/* clouds.css */
@keyframes animateCloud {
  0% {
    margin-left: -1000px;
  }
  100% {
    margin-left: 100%;
  }
}

.cloud-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 50px;
  /* z-index: 1; */
  overflow: hidden;
}

.cloud {
  background: linear-gradient(to bottom, #fff 5%, #f1f1f1 100%);
  border-radius: 50px;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
  height: 60px; /* Reduced height */
  width: 175px; /* Reduced width */
  position: relative;
}

.cloud::after,
.cloud::before {
  content: '';
  position: absolute;
  background: #fff;
}

.cloud::after {
  border-radius: 50px;
  height: 50px; /* Reduced height */
  width: 50px;  /* Reduced width */
  left: 25px;   /* Adjusted position */
  top: -25px;   /* Adjusted position */
}

.cloud::before {
  border-radius: 100px;
  width: 90px;  /* Reduced width */
  height: 90px; /* Reduced height */
  right: 25px;  /* Adjusted position */
  top: -45px;   /* Adjusted position */
}

.x1 {
  animation: animateCloud 35s linear infinite;
}

.x2 {
  animation: animateCloud 20s linear infinite;
}

.x3 {
  animation: animateCloud 30s linear infinite;
}

.x4 {
  animation: animateCloud 18s linear infinite;
}

.x5 {
  animation: animateCloud 23s linear infinite;
}
