/* Keyframe for animating clouds */
@keyframes animateCloud {
  0% {
    margin-left: -300px;
  }
  100% {
    margin-left: 100%;
  }
}

/* Cloud container stays fixed on the screen */
.cloud-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 50px;
  z-index: -1; /* Clouds behind content */
  overflow: hidden;
  pointer-events: none; /* To prevent interaction with the clouds */
}

/* Cloud styling */
.cloud {
  background: linear-gradient(to bottom, #fff 5%, #f1f1f1 100%);
  border-radius: 50px;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
  height: 60px;
  width: 175px;
  position: relative;
}

.cloud::after,
.cloud::before {
  content: '';
  position: absolute;
  background: #fff;
}

.cloud::after {
  border-radius: 50px;
  height: 50px;
  width: 50px;
  left: 25px;
  top: -25px;
}

.cloud::before {
  border-radius: 100px;
  width: 90px;
  height: 90px;
  right: 25px;
  top: -45px;
}

.cloud-dark {
  background: linear-gradient(to bottom, #000 5%, #000 100%);
  border-radius: 50px;
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
  height: 60px;
  width: 175px;
  position: relative;
}

.cloud-dark::after,
.cloud-dark::before {
  content: '';
  position: absolute;
  background: #000;
}

.cloud-dark::after {
  border-radius: 50px;
  height: 50px;
  width: 50px;
  left: 25px;
  top: -25px;
}

.cloud-dark::before {
  border-radius: 100px;
  width: 90px;
  height: 90px;
  right: 25px;
  top: -45px;
}

/* Different cloud speeds */
.x1 {
  animation: animateCloud 35s linear infinite;
}

.x2 {
  animation: animateCloud 20s linear infinite;
}

.x3 {
  animation: animateCloud 30s linear infinite;
}

.x4 {
  animation: animateCloud 18s linear infinite;
}

.x5 {
  animation: animateCloud 30s linear infinite;
}
